<div class='container'>
<div class='row'>
<div class='col-md-6' id="new_input">
<div class="entry">
<form>
<p class="input-group">
<input type="text" class="form-control" placeholder="Enter stock code" ng-model="newStock" ng-maxlength="5" required>
<span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="addStock()">Add to Chart</button>
</span>
</p>
</form>
<p class="link"><a href="http://eoddata.com/stocklist/NASDAQ.htm" target="_new">Search for stock codes</a></p>
<label><input type="checkbox" id="format" ng-click="toggleFormat()"> Show Relative Chart</label>
</div>
&nbsp &nbsp
<!--<div class="row tabs">
<ul class="nav nav-tabs nav-stacked col-md-6 col-lg-6 col-sm-6 col-xs-6" ng-repeat="stock in awesomeStocks">
<li><a href="#" tooltip="{{stock.info}}">{{stock.name}}<button type="button" class="close" ng-click="deleteStock(stock)">&times;</button></a></li>
</ul>
</div>
<!--<div class="container">-->
<!--<div class="row">-->
<div class="col-md-3 ">
{{otherstocks}}
<ul ng-repeat="stock in awesomeStocks">
<li><a href="#" tooltip="{{stock.info}}">{{stock.name}}<button type="button" class="close" ng-click="deleteStock(stock)">&times;</button></a></li><br>
</ul>

</div>
<!--Stock: <input type="text" name="stock" id="stock" value="YHOO" 
style="width: 70px;">-->
<div class="col-md-9">
<form nonvalidate>
&nbsp &nbsp
Start: <input type="text" ng-model="date.start" id="start" ng-init="date.start='2015-10-1'"
style="width: 80px;">
&nbsp &nbsp
End: <input type="text" ng-model="date.end" id="end" ng-init="date.end='2015-10-30'" 
style="width: 80px;">
&nbsp &nbsp
<input name="updateButton" 
type="button" 
value="Update" 
ng-click="updateDate()" />
</form>
<pre>date = {{date | json}}</pre>
</div>
</div>
<!--</div>-->
<!--</div>-->
<div class="col-md-6">
This is the stocks view.
{{message}}
<form>
<label><input type="radio" name="mode" value="grouped"> Grouped</label>
<label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</form>
<div linear-chart chart-data="stockdata"></div>
</div>
</div>
</div>
<!--{{stockdata}}-->